/* Flavours Servings Guide */

.flavours-servings-guide {
  background-color: #f8cde3; 
  text-align: center;
  font-family: "Sans-serif";
  color: #4a403a;
  margin: 0 auto;
  padding: 2rem 20rem;
}

.guide-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guide-image {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.guide-image img {
  width: 120%;
  height: auto;
  max-height: 450px;
  object-fit: contain;
  position: relative;
  left: -10%;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
}

.guide-text {
  text-align: center;
  padding-left: 20px;
}

.guide-text h1 {
  text-align: center;
  font-family: "Sacramento", cursive;
  font-size: 96px;
  color: black;
}

.guide-text p.guide-top-descp {
  margin-top: 20px;
  font-family: "Comic Neue";
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}


